section {
  display: flex;
  flex-direction: row;
  background-color: red;
  justify-content: center;
  padding: 0.5em;
}

.container {
  background-color: yellow;
  width: 80%;
}

.title-area {
  padding: 1em;
}

.card {
  padding: 1em;
  background-color: #afafaf;
  .header-text {
    font-weight: bolder;
  }
}
